.input-group {
    margin-bottom: 0px;
    position: relative;
    .spinner-border {
      width: 1rem;
      height: 1rem;
    }
  }
  
  :host-context([dir="rtl"]) {
    .form-select {
      background-position: left 0.75rem center;
    }
  }

  .current-selection {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    color: #6c757d;
  }
  
  .form-select:disabled {
    background-color: #e9ecef;
  }