.breadcrumb {
    background-color: transparent;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
  }
  .breadcrumb-item {
    font-size: 1rem;
  }
  .breadcrumb-item + .breadcrumb-item::before {
    content: ">";
    padding: 0 5px;
  }
  