// Override Bootstrap variables
$primary: #664433;
$secondary: #29304B;
$tertiary: #D1985D;

$body-bg: var(--app-primary-50);
$body-color: #495057;

$background-color: var(--app-primary-50);
$link-color: var(--app-primary);

$font-family-base: 'Noto Naskh Arabic', -apple-system, BlinkMacSystemFont, sans-serif;
$headings-font-family: 'Tajawal', 'Noto Naskh Arabic', -apple-system, BlinkMacSystemFont, sans-serif;